<p>RAW DATA</p>

<!--Persons table-->
<table>
    <tr>
      <th>Person ID</th>
      <th>Name</th>
      <th>Gender</th>
      <th>Race</th>
      <th>Birthdate</th>
      <th>Religion</th>
      <th>Sexual Orientation</th>
    </tr>
    <tr *ngFor="let person of persons">
      <td>{{person.id}}</td>
      <td>{{person.name}}</td>
      <td>{{person.gender}}</td>
      <td>{{person.race}}</td>
      <td>{{person.birth}}</td>
      <td>{{person.religion}}</td>
      <td>{{person.orientation}}</td>
    </tr>
</table>

<!--Governors Table-->
<table>
    <tr>
      <th>Person ID</th>
      <th>Start Year</th>
      <th>End Year</th>
      <th>State</th>
    </tr>
    <tr *ngFor="let governor of governors">
      <td>{{governor.person.id}}</td>
      <td>{{governor.yearStart}}</td>
      <td>{{governor.yearEnd}}</td>
      <td>{{governor.state}}</td>
    </tr>
  </table>

<!--HORs table-->
<table>
    <tr>
      <th>Person ID</th>
      <th>Start Year</th>
      <th>End Year</th>
      <th>State</th>
    </tr>
    <tr *ngFor="let hor of hors">
      <td>{{hor.person.id}}</td>
      <td>{{hor.yearStart}}</td>
      <td>{{hor.yearEnd}}</td>
      <td>{{hor.state}}</td>
    </tr>
</table>


<!--Mayors table-->
<table>
    <tr>
      <th>Person ID</th>
      <th>Start Year</th>
      <th>End Year</th>
      <th>State</th>
    </tr>
    <tr *ngFor="let mayor of mayors">
      <td>{{mayor.person.id}}</td>
      <td>{{mayor.yearStart}}</td>
      <td>{{mayor.yearEnd}}</td>
      <td>{{mayor.state}}</td>
    </tr>
</table>


<!--Senators table-->
<table>
    <tr>
      <th>Person ID</th>
      <th>Start Year</th>
      <th>End Year</th>
      <th>State</th>
    </tr>
    <tr *ngFor="let senator of senators">
      <td>{{senator.person.id}}</td>
      <td>{{senator.yearStart}}</td>
      <td>{{senator.yearEnd}}</td>
      <td>{{senator.state}}</td>
    </tr>
</table>
