<!--Senators table-->
<div class="div">
<div class="container">
    <h1>Senators</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Start Year</th>
                <th scope="col">End Year</th>
                <th scope="col">State</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let senator of senators">
                <td>{{senator.person.id}}</td>
                <td>{{senator.person.name}}</td>
                <td>{{senator.yearStart | date:"yyyy"}}</td>
                <td>{{senator.yearEnd | date:"yyyy"}}</td>
                <td>{{senator.state}}</td>
            </tr>
        </tbody>
    </table>

</div>
</div>