<!--HORs table-->
<div class="div">
    <div class="container">
        <h1>House of Representatives</h1>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Start Year</th>
                    <th scope="col">End Year</th>
                    <th scope="col">State</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let hor of hors">
                    <td>{{hor.person.id}}</td>
                    <td>{{hor.person.name}}</td>
                    <td>{{hor.yearStart | date:"yyyy"}}</td>
                    <td>{{hor.yearEnd | date:"yyyy"}}</td>
                    <td>{{hor.state}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>