<div class="container">
                    <div class="row">
                        <div class="heading-title text-center">
                            <br>
                            <h2 class="text-uppercase">Our Professionals</h2>
                        </div>

                        <div class="col-md-4 col-sm-4">
                            <div class="team-member">
                                <div class="team-img">
                                    <img id="imgtagEliot" src="/assets/Eliot-Original.jpeg" alt="team member" class="img-responsive">
                                </div>
                                <div>
                                    <div class="desk">
                                        <h4>Eliot Zubkoff</h4>
                                        <p>Eliot's interest in app development and gamification theory motivated him to found a start up in the gaming industry focused
                                            on player performance utilities. He has also worked on a contract project with Apple driving quality assurance for the Sire
                                            application.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="team-title">
                                <h5>Bachelor of Science in University Studies - Texas A&M University</h5>
                                <span>Full Stack Engineer</span>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="team-member">
                                <div class="team-img">
                                    <img id="imgtagJacob" src="/assets/Jacob-Original.jpg" alt="team member" class="img-responsive">
                                </div>
                                <div>
                                    <div class="desk">
                                        <h4>Jacob Julag-ay</h4>
                                        <p>Interests: Settlers of Catan, Volleyball, artistic elements of data visualization.
                                            <br>
                                            Fun Fact: Jacob worked for the popular kombucha brand, GT's Living Foods.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="team-title">
                                <h5>Bachelor of Science in Computer Science - California State University</h5>
                                <span>Data Analyst</span>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="team-member">
                                <div class="team-img">
                                    <img id="imgtagAissa" src="/assets/Aissa-Original.jpg" alt="team member" class="img-responsive">
                                </div>
                                <div>
                                    <div class="desk">
                                        <h4>Aissa Mendez</h4>
                                        <p>Aissa is a car enthusiast. She loves speed and adrenaline and enjoys working on her own car and learning everything
                                            she possibly can about the mechanics behind it all. Her technical mindset has carried over into her career aspirations
                                            to become a software engineer.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="team-title">
                                <h5>Bachelor of Science in Computer Science - University of Houston Downtown</h5>
                                <span>Full Stack Engineer</span>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <br>
                        <div class="col-md-4 col-sm-4">
                            <div class="team-member">
                                <div class="team-img">
                                    <img id="imgtagToan" src="/assets/Toan.jpeg" alt="team member" class="img-responsive">
                                </div>
                                <div>
                                    <div class="desk">
                                        <h4>Toan Nguyen</h4>
                                        <p>Toan is passionate about learning and helping people.
                                            His hobbies are painting, playing music, reading and hiking.
                                            A fun fact about Toan is that he wants to one day open a coffee shop by the age of 45.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="team-title">
                                <h5>Bachelors of Science in Clinical Informatics - Georgia State University</h5>
                                <span>Data Analyst</span>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="team-member">
                                <div class="team-img">
                                    <img id="imgtagCody" src="/assets/Cody-Original.jpg" alt="team member" class="img-responsive">
                                </div>
                                <div>
                                    <div class="desk">
                                        <h4>Cody Brand</h4>
                                        <p>Cody enjoys working with teams to create applications that are easy to use and help people.
                                            He also loves traveling as much as he possibly can and loves online video games.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="team-title">
                                <h5>Bachelor of Science in Computer Engineering - Penn State University</h5>
                                <span>Full Stack Engineer</span>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="team-member">
                                <div class="team-img">
                                    <img id="imgtagMatthew" src="/assets/Matthew-Original.jpeg" alt="team member" class="img-responsive">
                                </div>
                                <div>
                                    <div class="desk">
                                        <h4>Matthew Freshwaters</h4>
                                        <p>Matthew is energized by the limitless potential of technology to positively impact the environment.
                                            An experienced Eagle Scout, he has a passion for the great outdoor.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="team-title">
                                <h5>Bachelor of Science in Computer Science for Business Administration - Pepperdine University</h5>
                                <span>Full Stack Engineer</span>
                            </div>
                        </div>
                    </div>
</div>
<br>