<!--Mayors table-->
<div class="div">
<div class="container">
    <h1>Mayors</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Person ID</th>
                <th scope="col">Name</th>
                <th scope="col">Start Year</th>
                <th scope="col">End Year</th>
                <th scope="col">City</th>
                <th scope="col">State</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let mayor of mayors">
                <td>{{mayor.person.id}}</td>
                <td>{{mayor.person.name}}</td>
                <td>{{mayor.yearStart | date:"yyyy"}}</td>
                <td>{{mayor.yearEnd | date:"yyyy"}}</td>
                <td>{{mayor.city}}</td>
                <td>{{mayor.state}}</td>
            </tr>
        </tbody>
    </table>
</div>
</div>